<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCpVjxe6fOofXUI-PJ8pm43MfY2x1U1JKc</string>
	<key>GCM_SENDER_ID</key>
	<string>257289404993</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.outcode.hellosugar.helloSugar</string>
	<key>PROJECT_ID</key>
	<string>hello-sugar-web-test</string>
	<key>STORAGE_BUCKET</key>
	<string>hello-sugar-web-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:257289404993:ios:e1460da87f439823983cc0</string>
</dict>
</plist>